.git/
.gitignore

__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv

.dvc/
*.dvc

mlruns/
.mlflow/

artifacts/
logs/
*.pkl
*.csv

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb

tmp/
temp/
